*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: #F21616;
    font-family: sans-serif;
}
@keyframes anime {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-530px);
    }
    45% {
        transform: translateY(-530px);
    }
    50% {
        transform: translateY(-1030px);
    }
    70% {
        transform: translateY(-1030px);
    }
    75% {
        transform: translateY(-1530px);
    }
    95% {
        transform: translateY(-1530px);
    }
    100% {
        transform: translateY(0);
    }
}


.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #0D0D0D;
}
.cabecalho img{
    width: 8%;
    min-width: 60px;
}
.cabecalho p{
    color: white;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold
}
.cabecalho .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px
}
li {
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: sans-serif;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    text-shadow: 0px 1.5px black;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}
.cabecalho a:hover{
    background-color: #F21616;
}

.carrosel {
    height: 350px;
    border: 3px solid tomato;
    overflow: hidden;
    position: relative;
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 30px;
}
.img1 {
    position: absolute;
    animation-name: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    top: 0;
}

.img2 {
    position: absolute;
    top: 500px;
    animation-name: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.img3 {
    position: absolute;
    top: 1000px;
    animation-name: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.img4 {
    position: absolute;
    top: 1500px;
    animation-name: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.conteudo1 {
    width: 100%;
    margin: 10px auto;
}

.conteudo2 {
    width: 100%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    
}
.servicos img {
    margin: auto;
    width: 100%;
    max-width: 500px;
}
.servicos p {
    background-color: #A60A0A;
    color: white;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 40px;
    width: 100%;
}

button {
    background-color: chocolate;
    color: white;
    border-radius: 5px;
}
.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.produtos img {
    width: 90%;
    border-radius: 30px;
}
button:active{
    
    transform: rotateZ(360deg);
    transition: 0.5s;
}
.produtos {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    box-sizing: border-box;
    grid-template-columns: repeat(2fr, 2fr);
    grid-template-rows: 2fr 2fr 2fr;
    padding-top: 10px;
    margin-top: 20px auto;
    margin-left: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.conteudo3 {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}
.conteudo4 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.item-grid1 {
    display: inline;
    margin: 0;
    padding: 0;
    grid-column: 1/2;
    grid-row: 1/3;
}

.item-grid2 {
    grid-column: 2/2;
    grid-row: 2/2;
}

.item-grid3 {
    grid-column: 1/2;
    grid-row: 2/3;
}
.Mapa{
    margin:10px auto;
    text-align: center;
}
iframe{
    width: 90%;
    border-radius: 30px;
}
.rodape{
    height: 50px;
    width: 100%;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
}
footer a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
.conteudo3{
    font-size: 20px;
    background-color: #0D0D0D;
    color: white;
    width: 90%;
    text-align: center;
    margin: auto;
}
.botao button{
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 100%;
    background-image: url("../IMg/pizza_botao.png");
    text-shadow: 1px 1px black;
}
.imagem-drop{
    width: 50%;
    height: 100%;
    margin: 30px auto;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
	position:relative;
    max-width: 300px;
    box-sizing: border-box;
    padding-bottom: 0;
    
}
.p-drop{
    width: 100%;
    height: 100px;
    margin: 0;
    position:absolute;
    transition: 0.5s ease-in;
    top: 95.3%;
    left: 0;
}
.imagem-drop:hover .p-drop{
    top: 50%;
    transition: 0.5 ease-in;
}

@media screen and (min-width: 900px) {
    .cabecalho{
        flex-direction: row;
    }
    .cabecalho p{
        padding-top: 30px;
    }
    .cabecalho .logo{
        justify-content: left;
    }
    .servicos{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .imagem-drop:hover .p-drop{
        top: 70%;
        transition: 0.5 ease-in;
    }
    .imagem-drop{
        width:40%;
        max-width: 500px;
    }
    .produtos {
        grid-template-columns: repeat(2fr, 2fr, 2fr);
        grid-template-rows: 2fr 2fr;
    }
    .item-grid1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .item-grid2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .item-grid3 {
        grid-column: 3/3;
        grid-row: 1/2;
    }
    footer{
        justify-content: flex-end;
    }
    footer a{
        padding: 10px;
    }
    
}
@media screen and (min-width: 1200px) {
    .carrosel img{
        width: 100%;
    }
    .cabecalho .logo{
        justify-content: left;
    }
    .imagem-drop:hover .p-drop{
        top: 55%;
        transition: 0.5 ease-in;
    }
    .cabecalho p{
        padding-top: 30px;
    }
    .imagem-drop{
        width: 20%;
    }
    .carrosel{
        max-width: none;
    }
    .servicos{
        flex-wrap: nowrap;
    }
    .produtos{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .cabecalho li{
        font-size: 30px;
    }
    .conteudo3{
        font-size: 30px;
    }
    .conteudo3 button{
        width: 200px;
        height: 200px;
        background-image: url("../IMg/pizza_botao(3).png");
    }
    .botao button{
        font-size: 30px;
    }
}


/*  ****************************class utilitarias**************************** */

/*.padding-40 {
    padding-top: 40px;
}
.margin-button{
    margin-left: 30px;
}
.margen-left-5{
    margin-left: 5px;
}
.margen-right-5{
    margin-right: 5px;

}*/